@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: black;
  color: white;
}

#logo {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

nav {
  width: 25%;
  margin-right: 10px;
}

@media (min-width: 850px) {
  nav {
    width: 35%;
  }
}

nav > ul > li {
  padding: 0px 5px;
}

#tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#art-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}

#art-gallery > * {
  margin: 10px auto;
}

.art {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.art-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 10px;
}

.art-title {
  font-size: 1em;
  text-align: center;
  margin: 0;
}

.likes-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.likes-count-icon {
  width: 25px;
}

.likes-count-text {
  margin: 0px;
}

button {
  margin: 5px 0;
}

/* popup */

.popup {
  position: fixed;
  background: rgb(254, 254, 254);
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 60%;
  left: 20%;
  top: 10%;
  overflow-y: scroll;
  border: 1px solid black;
  align-items: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup-image {
  height: 500px;
  border: 2px solid black;
  margin: 5px;
}

.popup-title {
  font-size: xx-large;
}

.image-info {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-self: flex-start;
  width: 100%;
}

.info-item {
  padding: 5px 10%;
  width: 50%;
}

.link {
  text-decoration: underline;
}

.comments-list {
  padding: 0;
  list-style: none;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.name {
  width: 70%;
  margin: 10px 0;
  border: 2px solid black;
}

.new-comment {
  height: 150px;
  border: 2px solid black;
}

.submit {
  width: 60%;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  margin: 10px 0;
}

.default {
  display: none;
}
