@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

#logo {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

nav {
  width: 40%;
}

#tabs {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: gray;
}
